#root{
  margin: 0;
  background-color: rgb(21, 20, 25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  padding: 0;
}

body{
  margin: 0;
}

.container{
  height: 300px;
  width: 300px;
  background-color: snow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 50%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: auto;
  transform: scale(1.5);
}

.btn--add{
  grid-column: 1/2;
  grid-row: 2/3;
}

.btn--subtract{
  grid-row: 2/3;
  grid-column: 2/3;
}

.btn--add , .btn--subtract{
  border-radius: 50%;
  border: 0;
  background-color: rgb(135, 135, 135);
  font-size: 4.5em; 
}

.screen{
  font-size: 9em; 
  position: relative;
  left: 120px;
  top: 30px;
}